<footer>

    <div class="footer_left">

        <a href="{{ path('mentionslegales') }}">Mentions Légales</a>
        <a href="{{ path('confidentialite') }}">Confidentialité</a>

    </div>

    <div class="footer_right">

        <a href="#"><img src="{{ asset('img/linkedin.png') }}" alt="Linkedin" class="reseaux resp"></a>
        <a href="#"><img src="{{ asset('img/twitter.png') }}" alt="twitter" class="reseaux resp"></a>
        <a href="#"><img src="{{ asset('img/facebook.png') }}" alt="facebook" class="reseaux resp"></a>

    </div>

</footer>
<script src="{{ asset('js/script.js')}}s"></script>
</body>
</html>