<footer>


    <div class="footer_left">
        <h4>CONTACT</h4>
        <ul>
            <li>Impasse des Moulins</li>
            <li>16100 COGNAC</li>
            <li>Tél : 05 45 00 00 00</li>
        </ul>
        <a href="#">Mentions légales</a>

    </div>

    <div class="footer_center">
        <h4>LA CENTRALE LETTER</h4>
        <ul>
            <li>Inscrivez-vous à notre <strong>NEWSLETTER</strong></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
    <div class="footer_right">
        <h4>NOUS SUIVRE</h4>
        <ul>
            <li><a href="#"><img src="{{ asset('assets/img/social-medias/instagram.png') }}" alt="Instagram"></a></li>
            <li class="facebook"><a href="#"><img src="{{ asset('assets/img/social-medias/facebook.png') }}" alt="Facebook"></a></li>
            <li> <a href="#"><img src="{{ asset('assets/img/social-medias/pinterest.png') }}" alt="Pinterest"></a></li>
        </ul>

    <div ><a href="#" class="contact">CONTACTEZ-NOUS</a></div>
        <a href="#" class="up_arrow"><img src="{{ asset('assets/img/up-arrow.png') }}" alt="fléche pour revenir à l'accueil"></a>

</footer>
<script src="{{ asset('js/script.js')}}s"></script>
</body>
</html>