<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<header>
    <div class="container-top">
        <a href="{{ path('accueil') }}"><img src="{{ asset('assets/img/logo-lacentrale-blue.png') }}" alt="Logo du site" class="logo-top"></a>
    </div>

    <nav class="nav-top">
        <ul>
            <li><a href="{{ path('accueil') }}">Accueil</a></li>
            <li><a href="">Le Co-Working</a></li>
            <li><a href="{{ path('formules') }}">Les Formules</a></li>
            <li><a href="">Les Co-Workers</a></li>
            <li><a href="">Actualités</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>